* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

.container {
    height: 3.5rem;
    width: 100%;
    background:linear-gradient(rgb(165, 165, 248),skyblue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(33, 33, 255);
}

h3 {
    margin-left: 3rem;
    font-size: 1.5rem;
}
.op {
    margin-right: 3.5rem;
}
.btn {
    height: 30px;
    width: 80px;
    border-radius: .25rem;
    border: none;
    font-weight: bolder;
    margin: .25rem;
    box-shadow: 1px 3px 6px -2px black;
}
.hero {
    height: 25vh;
    width: 100%;
    background-color: rgb(209, 231, 231);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

@media (max-width : 700px) {
    h3 {
        margin-left: 1rem;
        font-size: 1.3rem;
    }
    .op {
        margin-right: 1rem;
    }
    .hero {
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
}