* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e9e9e9;
}

.container {
    height: 3.5rem;
    width: 100%;
    background: linear-gradient(rgb(165, 165, 248), skyblue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(33, 33, 255);
}

h3 {
    margin-left: 3rem;
    font-size: 1.5rem;
}

.op {
    margin-right: 3.5rem;
}

.profile {
    height: 50px;
    width: 50px;
    background-color: thistle;
    border-radius: 50%;
}

.hero {
    height: 25vh;
    width: 100%;
    /* background-color: rgb(209, 231, 231); */
    background: url('./photos/Hero.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero input {
    height: 3rem;
    width: 20rem;
    padding: 10px;
    border: none;
    border-radius: .50rem;
    font-size: larger;
    font-family: serif;
    font-weight: bolder;

}

.search {
    height: 2rem;
    width: 5rem;
    border-radius: .25rem;
    border: none;
    font-size: large;
    font-family: serif;
    font-weight: bold;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.photo-container {
    display: flex;
    justify-content: center;
    gap: 66px;
    flex-wrap: wrap;
    text-align: center;
}

.photo {
    width: 200px;
    height: 250px;
    padding: 11px;
    border-radius: 6px;
    background-color: antiquewhite;
    box-shadow: 0px 2px 2px 2px rgb(204, 204, 204);
}

.photo img {
    height: 200px;
    width: 100%;
    border-radius: .25rem;
}

.photo:hover {
    scale: 1.1;
    transition-duration: .5s;
}

@media (max-width : 700px) {
    h3 {
        margin-left: 1rem;
        font-size: 1.3rem;
    }

    .op {
        margin-right: 1rem;
    }
    .hero input {
        height: 2rem;
        width: 15rem;
        padding: 10px;
        border: none;
        border-radius: .25rem;
        font-size: larger;
        font-family: serif;
        font-weight: bolder;
    
    }
    
    .search {
        height: 1.5rem;
        width: 4rem;
        border-radius: .25rem;
        border: none;
        font-size: large;
        font-family: serif;
        font-weight: bold;
    }

    .main {
        width: 100%;
        background-color: transparent;
        text-align: center;
    }

    h2 {
        margin-top: 8px;
    }

    .photo-container {
        display: flex;
        justify-content: center;
        gap: 66px;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 2rem;
    }

    .photo {
        height: 150px;
        width: 120px;
        padding: 11px;
        border-radius: 6px;
        background-color: antiquewhite;
        box-shadow: 0px 2px 2px 2px rgb(204, 204, 204);
    }

    .photo img {
        height: 90px;
        width: 100%;
    }

    .photo:hover {
        scale: 1.1;
        transition-duration: .5s;
    }
}

@media (max-width : 480) {
    .photo {
        height: 150px;
        width: 100px;
        padding: 8px;
        border-radius: 6px;
        background-color: antiquewhite;
        box-shadow: 0px 2px 2px 2px rgb(204, 204, 204);
    }

    .photo img {
        height: 70px;
        width: 100%;
    }
    .hero input {
        height: 2rem;
        width: 15rem;
        padding: 10px;
        border: none;
        border-radius: .50rem;
        font-size: larger;
        font-family: serif;
        font-weight: bolder;
    
    }
    
    .search {
        height: 2rem;
        width: 5rem;
        border-radius: .25rem;
        border: none;
        font-size: large;
        font-family: serif;
        font-weight: bold;
    }
    .profile {
        height: 40px;
        width: 40px;
        background-color: thistle;
        border-radius: 50%;
    }
}